<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<h1>ALBUMS!</h1>
<ul>
    <li th:each="album : ${albums}">
        <p th:text="${album}" ></p>
    </li>
</ul>
<form action="/albums" method="POST">
    Album Title: <input name="title" />
    Artist: <input name="artist" />
    No. Songs: <input name="songCount" />
    Length: <input name="lengthInSeconds" />
    Image URL: <input name="imageURL" />
    <input type="submit" />

</form>
</body>
</html>