<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
    <body>
        <h1>ALBUMS!</h1>
        <ul>
            <li th:each="album : ${albums}">
                <img th:src="${album.imageURL}" />
                <h3 th:text="${album.title}"></h3>
                <p th:text="${album.artist}"></p>
                <p><span th:text="${album.songCount}"></span> songs with <span th:text="${album.lengthInSeconds}"></span> seconds of music.</p>
            </li>
        </ul>
        <form action="/albums" method="POST"><br />
            Album Title: <input name="title" /><br />
            Artist: <input name="artist" /><br />
            No. Songs: <input name="songCount" /><br />
            Length: <input name="lengthInSeconds" />(in seconds)<br />
            Image URL: <input name="imageURL" /><br />
            <input type="submit" /><br />
        </form>
    </body>
</html>