<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
    <body>
        <h1>ALBUMS!</h1>
        <ul>
            <li th:each="album : ${albums}">
                <div>
                    <img th:src="${album.imageURL}" />
                    <h3 th:text="${album.title}"></h3>
                    <p th:text="${album.artist}"></p>
                    <p><span th:text="${album.songCount}"></span> songs with <span th:text="${album.lengthInSeconds}"></span> seconds of music.</p>

                    <a th:href="${'/albums/' + album.id}">LINK TO ALBUM</a>
<br><br>
                </div>
            </li>
        </ul>
<br>
        <h2>Upload a New Album</h2>
        <form action="/albums" method="POST">
            Album Title: <input name="title" />    
            Artist: <input name="artist" /><br />
            No. Songs: <input name="songCount" />     
            Length: <input name="lengthInSeconds" />(in seconds)<br />
            Image URL: <input name="imageURL" /><br />
            <input type="submit" /><br />
        </form>
        <h3><a href="/songs">View All Songs</a></h3>
    </body>
</html>