<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>oneAlbum</title>
    <link href="/styles.css" rel="stylesheet" />

</head>
    <body>
        <div>
            <h1 th:text="${album.title}"></h1>
            <h2 th:text="${album.artist}"></h2>
            <img th:src="${album.imageURL}" />
            <p><span th:text="${album.songCount}"></span> songs with <span th:text="${album.lengthInSeconds}"></span> seconds of music.</p>
        </div>
        <div>
            <h3>Songs on this album</h3>
            <ul th:each="song : ${album.songs}">
                <li><span th:text="${song.trackNum}"></span> <span th:text="${song.title}"></span></li>

            </ul>
        </div>
        <div>
            <h3>Update This Album</h3>
            <form th:action="${'/albums/' + album.id + '/songs'}" method="POST">
                Song Title: <input name="title" /><br />
                Track No.: <input name="trackNum" /><br />
                Length: <input name="lengthInSeconds" />(in seconds)<br />
                <input type="submit" /><br />
            </form>
        </div>
        <h3><a href="/albums">Back to All Albums</a> | <a href="/">Home</a></h3>
    </body>
</html>